DOMAIN=localhost
PUBLIC_URL=http://localhost:8000
COOKIE_SECURE=false

JWT_SECRET=polar_bear_jwt_secret

GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxx

SUBSCRIPTION_DB_PASSWORD=postgres
USER_DB_PASSWORD=postgres
AUTH_DB_PASSWORD=postgres

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
